extends layout

block content
  main(class='main-index')  
    if(user) 
      h1= 'Welcome back ' + user.full_name
      p Create a message and post it for other users to see. 
      a(href="/feed/create_message") 
        button New Message
    else
      h1= title
      p Sign up below to see who wrote these posts! 
      a(href="/feed/sign_up") 
        button Sign Up
      a(href="/auth") 
        button Login
    div(class='form-wrapper')
      if messages 
        ul(class='msg-wrapper')
          each message in messages 
            li 
              h3= message.title 
              div= message.content
              if user && user.membership_status
                p= message.time
                p= message.user.first_name
              else 
                p Date Posted Hidden
                p Hidden Username 
              if user && user.admin
                a(href='/feed/' + message._id + '/delete')
                  button(class='warn-btn') Delete
      

