extends layout

block content
  main(class='main-index')  
    h1 Are you sure you want to delete this message?
    div(class='form-wrapper')
        ul(class='msg-wrapper')
            li 
                h3= message.title 
                div= message.content
                if user && user.membership_status
                    p= message.time
                    p= message.user.first_name
                else 
                    p Date Posted Hidden
                    p Hidden Username 
                form(method="post" class='delete-form') 
                    input(hidden value=message._id name='messageId')
                    button(class='warn-btn') Delete